
<%= render @badges %>

<br />
<table class="table table-condensed">
        <thead>
          <tr>
            <th>Badge</th>
            <th>Title</th>
            <th>Description</th>
            <th>Follower Reach</th>
          </tr>
        </thead>
				<% @badges.each do |badge| %>
        <tbody>
          <tr width="940">
            <td width="11.5%">
						<%= image_tag @display_avatar, :class => "default-profile-index"%>
						<%= image_tag badge.image_url, :class => "badge-index" %>
						</td>
            <td width="17%" style="padding-top: 20px"><%= badge.title %></td>
            <td width="54.5%" style="padding-top: 20px"><%= badge.description %></td>
            <td width="17%" style="padding-top: 20px"><span class="well" style="font-size:18px;  ;padding-top: 20px"><b>24,023,656</b></span></td>
            
          </tr>
					<% end %>     
</table>
