<br />

<table>
	<% @count = @badges.count%>
	<% @badge_rows = @badges.each_slice(3).to_a %>

	<% @badge_rows.each do |badge_row| %>
	<tr>
		<%badge_row.each do |badge| %>
		<td>
			<div class="badge">
				<%= image_tag @display_avatar, :class => "default-profile-index", :size => "128x128" %>
				<% if user_signed_in? %>
				<%= link_to(image_tag(badge.image_url,
															:class => "badge-index", 
															:size => "128x128" ), 
															badge_path(badge.id)
															)%>
				<% else %>
				<%= link_to(image_tag(badge.image_url, 
															:class => "badge-index", 
															:size => "128x128" ), "#", 
															:onclick => 'alert("You need to be signed in to do that, friend.")'
															)%>
				<% end %>
				<div id="badge-details">
				<b><%= badge.title %></b><br />
				<a>See more..</a>
				<% if badge.badgehistories.total_followers(badge.id) != nil %>
					<div id="badge-followers" class="well-follower"><%= badge.badgehistories.total_followers(badge.id)%><br/><span style="font-size:12px;">follower reach</div><br />
				<% else %>
				<div id="badge-followers" class="well-follower">0<br/><span style="font-size:12px;">be the first one!</div><br />
				<% end %>	
			</div>
			
		</td>
		<% end %>
	</tr>
	<% end %>
</table>
<image_tag >

</div>
</div>

