<br />
<p>
<%#= link_to "Reset your profile image!", badge_path, :method => 'delete',  :class=> "btn btn-large btn-primary", :style => "font-size:24px"%>
</p>
<ul id = "pill" class ="nav nav-pills">
<% @category_hash.keys.each_with_index do |category, index| %>
<% if index == 0 %>
	<li class ="active">
<% else %>
	<li class ="">		
<% end %>
		<a href="#<%=category.downcase %>" data-toggle="tab">
			<%= category %>
		</a>
	</li>
<% end %>
</ul>

<% if Rails.env.development? %>
<%= link_to "REVERT IMAGE", badges_revert_path, :method => 'put' %>
<% end %>
<div id ="myTabContent" class="tab-content">
	<% @category_hash.keys.each_with_index do |category, index| %>
		<% if index == 0 %>
			<div class = "tab-pane active" id = "<%=category.downcase%>">
		<% else %>
			<div class = "tab-pane fade" id = "<%=category.downcase%>">
		<% end %>
				<ul>
				<% @category_hash[category].each do |badge| %>
						<li class = "badge" style="display:inline-block;">
							<%= image_tag @display_avatar, :class => "default-profile-index", :size => "128x128"%>
							<%= link_to(image_tag(badge.image_url,
																		:class=> "badge-index",
																		:size => "128x128"),
																		badge_path(badge)
																		)%>
							<div id="badge-details">
								<b><%= badge.title.gsub("-", " ") %></b><br />
								<%= link_to "More details...", badge_path(badge) %>
								<% if badge.badgehistories.total_followers(badge.id) != nil %>
									<div id="badge-followers" class="well-follower">
										<%= badge.badgehistories.total_followers(badge.id)%><br />
										<span style="font-size:12px;">follower reach
									</div>
								<% else %>
									<div id="badge-followers" class="well-follower">
										0<br />
										<span style="font-size:12px;">be the first one!
									</div>		
								<% end %>
							</div>
						</li>
				<% end %>
		</div>
	<% end %>
</div>