<br />
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="badge-unit">
        <center><h1><%= @badge.title.gsub("-", " ") %></h1></center>
				<hr>
			<div id="badge-show-content">
 						<div class="badge-unit-small span3" style="text-align:center">				
						<% if current_user %>
							<%=image_tag(current_user.avatar_url)%>
						<% else %>
							<%=image_tag "default-pro.png" %>
						<% end %>
						<%= image_tag(@badge.image_url, :class => "show_badge") %>	
			
						</div>
			
						<div class="span8">
						
							<h3>The official <%= @badge.title.gsub("-", " ") %> badge</h3>
						<p>
							<%= @badge.description %>
						</p>
						</div>
			</div>
			<div id="badge-show-use" style="text-align:center;">
				<hr>	
				<div class="grey-arrow-light">
					<%= image_tag "grey-arrow-light.png" %>
				</div>			
				<p>
				<%= link_to "Use this badge!", badge_path, :method => 'put',  :class=> "btn btn-large btn-primary", :style => "font-size:24px"%>
				</p>	
      
			</div>	

			</div>
			
      <div class="row">
				<% if current_user %>
				<div class="badge-unit-small-bottom span6"  style="text-align:center;">
          <h2>Thank you @<%= current_user.username %> </h2>
           <p><h4>Your consideration and support means the world to us!</h3></p><br />
       	</div>
				<% else %>
				<div class="badge-unit-small-bottom span6"  style="text-align:center;">
          <h2>Thank you :)</h2>
           <p><h4>Your consideration and support means the world to us!</h3></p><br />
       	</div>
				<% end %>
				<div class="badge-unit-small-bottom span6" style="text-align:center;">
          <h2>Follower Reach</h2>
					<% if @badge.badgehistories.total_followers(@badge.id) != nil %>
						<p><h1><%= @badge.badgehistories.total_followers(@badge.id)%></h1></p>
					<% else %>
					<p><h1>0</h1></p>
					<% end %>
        </div>
      </div>
    </div>

