<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">


		<%= link_to "#notablee", root_path, :class => "brand", :style => "font-family: 'Voces', cursive;" %>

			<div class="nav-collapse">
				<ul class="nav">
					<li><%= link_to "Badges", badges_path %></li>
				</ul>

				<% if user_signed_in? %>
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= image_tag @display_avatar, :class => "header-avatar" %>
						<span class="header-username"><%= current_user.username %></span> 
						<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
						</ul>
					</li>
				</ul>
				
				<% else %>
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>
					<li><%= link_to "Sign in with Twitter", auth_twitter_path %></li>
				</ul>
				<% end %>
			</div>
		</div><!--/.nav-collapse -->
	</div>
</div>
