<!DOCTYPE html>
<html>
	<head>
	  <title>Notablee</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>	
		
		<%= render :partial => "shared/header" %>	
		<div class="container container-body">
				<br />
				<br />				
			<% if notice %>
				<br />
				<p class="alert alert-success">
					<a class="close" data-dismiss="alert">&times;</a>
						<%= notice %>
				</p>
			<% end %>
	
			<% if alert %>
			<br />
				<p class="alert alert-error">
					<a class="close" data-dismiss="alert">&times;</a>
						<%= alert %>
				</p>
			<% end %>
		
			
			<%= yield %>

			<%= render :partial => "shared/footer" %>
		</div>
	</body>
</html>
